# Database
DATABASE_URL=postgres://user:password@host:5432/db

# Web Push (VAPID) — optional, for push notifications
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BDXBx_77QQin_PyrOj2YHfm3_nZhMovGpl_08v5KiFNO1WlBSfpZZMVwYeTBcLL-zo8YvDHZzs8iPTJjULIc_wU
VAPID_PRIVATE_KEY=7J5zwvt7lvXh6ETKTzWxVOByW7jwDhpJAWdUWqhlsYc
VAPID_SUBJECT=mailto:hitechshow.p@gmail.com

# Vercel Blob — optional, for image uploads
BLOB_READ_WRITE_TOKEN=

# Mobile app URLs — optional
NEXT_PUBLIC_IOS_APP_URL=
NEXT_PUBLIC_ANDROID_APP_URL=
