# dependencies
node_modules/

# next.js
.next/
out/

# build
tsconfig.tsbuildinfo

# env
.env
.env*.local

# debug
npm-debug.log*

# os
.DS_Store
Thumbs.db

# mobile (Capacitor)
mobile/node_modules/
mobile/android/
mobile/ios/
